{% style %}
        .hero-section{
          display: flex;
          max-width: 1200px;
          margin: 0 auto;
          padding: 60px;
          gap: 20px;
          background: #085552;
        }
        .hero-right-side{
          width: 50%;
          padding: 80px 26px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .hero-left-side{
          width: 50%;
          overflow: hidden;
        }
        .hero-left-side .slide img{
            width: 100%;
        }
  .digital-product-hero-badge {
    box-sizing: border-box;
    color: rgb(0, 169, 162);
    display: inline;
    font-family: source-code-pro, monospace;
    font-size: 20px;
    font-weight: 400;
    height: auto;
    line-height: 30px;
    text-align: left;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
      .btn-primary {
          width: 100% !important;
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          background-color: #00a9a2;
          border-color: #00a9a2;
          box-shadow: none;
          border: 2px solid transparent;
          padding: .85rem 1.875rem;
          line-height: 1.4;
          border-radius: 0;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }
{% endstyle %}

<div class="hero-section">
  {% comment %} Left Side {% endcomment %}
  <div class="hero-right-side">
    <p class="digital-product-hero-badge">
      &lt;<span
        >/<span class=" tagline"><span>ONE CLICK COD FORM WITH UPSELLS</span></span></span
      >&gt;
    </p>
    <h1 class="">Releasit COD Form &amp; Upsells</h1>
    <a href="#" class="btn-primary">Install Now!</a>
  </div>
  {% comment %} Right Side {% endcomment %}
  <!-- sections/custom-slideshow.liquid -->
  <section class="custom-slideshow hero-left-side">
    <div class="slideshow-container">
      {% for block in section.blocks %}
        <div class="slide" style="display: {% if forloop.first %}block{% else %}none{% endif %};">
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | image_url: width: 1200 }}" alt="{{ block.settings.alt_text | escape }}">
          {% endif %}
          {% if block.settings.caption != blank %}
            <div class="caption">{{ block.settings.caption }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
</div>

{% schema %}
{
  "name": "digital_products_hero",
  "tag": "section",
  "class": "Digital-products-hero",
  "settings": [
    {
      "type": "richtext",
      "id": "digital-products-hero-tittle",
      "label": "digital products hero tittle"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Image Alt Text"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "digital_products_hero"
    }
  ]
}
{% endschema %}
