<div>
  {% comment %} Left Side {% endcomment %}
  <div>
    <p class="source-code text-primary text-20 mb-2">
      &lt;<span
        >/<span class=" tagline"><span>ONE CLICK COD FORM WITH UPSELLS</span></span></span
      >&gt;
    </p>
    <h1 class="mb-3 font-weight-bold text-white">Releasit COD Form &amp; Upsells</h1>
  </div>
  {% comment %} Right Side {% endcomment %}
  <div></div>
</div>
