{% style %}
  .hero-section{
    display: flex;
    width: 100%;
  }
  .hero-right-side{
    width: 50%;
  }
  .hero-left-side{
    width: 50%;
    overflow: hidden;
  }
{% endstyle %}

<div class="hero-section">
  {% comment %} Left Side {% endcomment %}
  <div class="hero-right-side">
    <p class="">
      &lt;<span
        >/<span class=" tagline"><span>ONE CLICK COD FORM WITH UPSELLS</span></span></span
      >&gt;
    </p>
    <h1 class="">Releasit COD Form &amp; Upsells</h1>
  </div>
  {% comment %} Right Side {% endcomment %}
   <!-- sections/custom-slideshow.liquid -->
<section class="custom-slideshow hero-left-side">
  <div class="slideshow-container">
    {% for block in section.blocks %}
      <div class="slide" style="display: {% if forloop.first %}block{% else %}none{% endif %};">
        {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | image_url: width: 1200 }}" alt="{{ block.settings.alt_text | escape }}" />
        {% endif %}
        {% if block.settings.caption != blank %}
          <div class="caption">{{ block.settings.caption }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
</div>


{% schema %}
{
    "name": "digital_products_hero",
    "tag": "section",
    "class": "Digital-products-hero",
    "settings": [
        {
            "type": "richtext",
            "id": "digital-products-hero-tittle",
            "label": "digital products hero tittle"
        }
    ],
    "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Image Alt Text"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption Text"
        }
      ]
    }
  ],
  "presets": [
    {
        "name": "digital_products_hero"
    }
  ]
}
{% endschema %}